validation.py
trashbin/
trashbin/*
validation_utils/images/
validation_utils/images/*
validation_utils/world_metrics_old/
validation_utils/world_metrics_old/*
validation_utils/time_series_bavaria/
validation_utils/time_series_texas/
validation_utils/time_series_michigan/
validation_utils/world_metrics_old/
validation_utils/time_series_images/
validation_utils/time_series_images/*
validation_utils/*.png
validation_utils/*.geojson
validation_utils/*.csv
*.tif
__pycache__/
wandb/
logs/
*.pth
*.ckpt
*.pyc
.vscode*
*.vscode
.vscode
lightning_logs/
lightning_logs/*
lightning_logs
images/
images/*
utils/prepare_dataset.py
images/
*.csv
playground/
playground/*
