trashbin/
trashbin/*
validation_utils/images/
validation_utils/images/*
*.tif
__pycache__/
wandb/
logs/
*.pth
*.ckpt
*.pyc
.vscode*
*.vscode
.vscode
lightning_logs/
lightning_logs/*
lightning_logs
images/
images/*
utils/prepare_dataset.py
images/
*.csv
