# data structures
data/*
!data/SR_dataset_RGB.py

# validation experimentation nonsense
validation_utils
validation_utils/
validation_utils/*
predict_nir_dataset.py
data/synthDataset/
configs/val_confs/*


# local nonsense
train_sweep.py
validation_landcover.py
validation.py

# General Files
*.pkl
*.geojson
*.tif 
__pycache__/
wandb/
logs/
*.pth
*.ckpt
*.pyc
.vscode*
*.vscode
.vscode
lightning_logs/
lightning_logs/*
lightning_logs
images/
images/*
utils/prepare_dataset.py
images/
*.csv
playground/
playground/*


# Folders Automated
validation_utils/paper_graphs
validation_utils/paper_graphs/
validation_utils/time_series_iowa/
validation_utils/time_series_texas_cropcircles/
validation_utils/time_series_california/
validation_utils/time_series_brazil/
validation_utils/time_series_iowa/*
validation_utils/time_series_texas_cropcircles/*
validation_utils/time_series_california/*
validation_utils/time_series_brazil/*
validation_utils/datasets/
validation_utils/datasets/*
validation_utils/get_results_table_v2.py
validation.py
trashbin/
trashbin/*
validation_utils/metrics_folder/validation_metrics_ablation_satclip_False.geojson
validation_utils/metrics_folder/validation_metrics_ablation_satclip_True.geojson
validation_utils/metrics_folder
validation_utils/metrics_folder/*
validation_utils/metrics_folder/
validation_utils/plots
validation_utils/plots/
validation_utils/plots/*
validation_utils/datasets/
validation_utils/datasets/*
validation_utils/images/
validation_utils/images/*
validation_utils/world_metrics_old/
validation_utils/world_metrics_old/*
validation_utils/time_series_bavaria/
validation_utils/time_series_texas/
validation_utils/time_series_michigan/
validation_utils/world_metrics_old/
validation_utils/time_series_images/
validation_utils/time_series_images/*
validation_utils/*.png
validation_utils/*.geojson
validation_utils/*.csv
validation_utils/automated_spiders
