absl-py==2.1.0
affine==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
albumentations==1.4.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
asttokens==3.0.0
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cmake==3.28.3
contourpy==1.2.0
cramjam==2.8.3
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
diffusers==0.30.3
docker-pycreds==0.4.0
docopt==0.6.2
efficientnet-pytorch==0.7.1
einops==0.6.0
executing==2.2.0
fastjsonschema==2.21.1
fastparquet==2024.5.0
filelock==3.13.1
Fiona==1.8.21
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2025.3.2
ftfy==6.1.3
geopandas==1.0.1
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.64.1
h5py==3.13.0
hf-xet==1.1.3
huggingface-hub==0.33.0
idna==3.6
imageio==2.34.0
importlib_metadata==8.5.0
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
kornia==0.7.3
kornia_rs==0.1.7
lazy_loader==0.3
lightning-utilities==0.10.1
lit==17.0.6
lpips==0.1.4
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.7
mdutils==1.6.0
mistune==3.1.3
mlstac==0.1.8
mpltern==1.0.4
mpmath==1.3.0
multidict==6.0.5
munch==4.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.2.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
open-clip-torch==2.24.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opensr-dataloaders==0.0.14
opensr-model==0.2.7
opensr-usecases==0.2.1
opensr-utils==0.4.27
opensr_test==1.2.1
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.2.2
pretrainedmodels==0.7.4
prettytable==3.11.0
prompt_toolkit==3.0.51
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pycocotools==2.0.8
pydantic==2.6.3
pydantic_core==2.16.3
Pygments==2.19.1
pyogrio==0.10.0
pyparsing==3.1.2
pyproj==3.7.0
python-dateutil==2.9.0.post0
pytorch-lightning==1.9.0
pytorch-msssim==1.0.0
pytz==2024.1
PyWavelets==1.5.0
PyYAML==6.0.1
pyzmq==26.4.0
rasterio==1.3.11
rasterstats==0.20.0
referencing==0.36.2
regex==2023.12.25
requests==2.32.3
rpds-py==0.25.1
Rtree==1.3.0
safetensors==0.5.3
satalign==0.1.9
scikit-image==0.19.3
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
segmentation-models-pytorch==0.3.4
sentencepiece==0.2.0
sentry-sdk==2.4.0
setproctitle==1.3.3
shapely==2.0.6
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
snuggs==1.4.7
soupsieve==2.7
stack-data==0.6.3
sympy==1.12
tacoreader==0.5.6
tensorboard==2.16.2
tensorboard-data-server==0.7.2
threadpoolctl==3.3.0
tifffile==2024.2.12
timm==0.9.7
tinycss2==1.4.0
tokenizers==0.21.1
torch==1.13.1
torchgeo==0.6.1
torchmetrics==1.3.1
torchvision==0.14.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
triton==2.0.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv-clone==0.5.7
wandb==0.17.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.3
xarray==2025.1.1
yarg==0.1.9
yarl==1.9.4
zipp==3.20.2
